/*Add CSS styles here*/
#map {
    height: 100vh; 
}

.leaflet-popup-content p {
    margin: 0.05em 0;
    line-height: 1.1; /* Adjusts the space between lines of text */
    font-family: Georgia, serif; 
}